body {
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: Roboto, sans-serif;
  
    display: flex;
    flex-direction: column;
}

/*
* {
    outline: 2px solid red;
}
*/


/*Content*/

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}


/*Header*/

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding:16px 0 ;
    align-items: center;
    width: 900px;
}

.header {
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}


/*Section 01*/

.section-01 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 96px 0;
    align-content: center;
}

.section-01-container {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 900px;
}

.left-container-01 {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;
}

.right-container-01 {
    background-color: gray;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-self: stretch;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text, .right-container-01 {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    width: 100px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 16px;
    color: #F9FAF8;
    font-weight: 700;
}


/*Section 02*/

.section-02 {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-self: center;
    align-content: center;
    padding-top: 30px;
    padding-bottom: 96px;
    width: 900px;
    flex-shrink: 1;
}

.information-header {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-bottom: 30px;
}

.random-image-container {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    gap: 48px;
    max-width: 900px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-subtext {
    max-width: 100px;
    display: flex;
    text-align: center;
    padding: 8px 0;
 
}

.image-box {
    width: 150px;
    height: 150px;
    outline: 4px solid #3882F6;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 8px;
}


/*Section 03*/

.section-03 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-content: center;
    padding: 96px 0;
    align-items: center;
}

.quote-box {
    display: flex;
    flex-direction: column;
    max-width: 900px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    padding: 16px;
    
}

.quote-author {
    color: #1F2937;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 16px;
}


/*Section 04*/

.section-04 {
    display: flex;
    flex-direction: column;
    background-color: #F9FAF8;
    align-items: center;
    padding: 96px 0;
}

.cta-box {
    background-color: #3882F6;
    border-radius: 4px;
    display: flex;
    padding: 32px 64px;
    justify-content: space-between;
    justify-self: center;
    width: 900px;
    box-sizing: border-box;
}

.cta-button {
    outline: 2px solid #F9FAF8;
    margin-left: 16px;
}

.cta-main-text, .cta-secondary-text {
    color: #F9FAF8;
}

.cta-main-text {
    font-weight: bold;
}


/*Footer*/  

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    justify-content: center;
    padding: 24px;
}
